---
interface Props {
  id?: string;
  title?: string;
  description?: string;
  hidden?: boolean;
  icon?: string;
  type?: "primary" | "secondary" | "tertiary" | "success" | "alert" | "warning";
  showClose?: boolean;
  topActions?: Action[];
  bottomActions?: Action[];
}

interface Action {
  title: string;
  id: string;
}

const {
  id,
  title,
  description,
  hidden = true,
  icon,
  type = "primary",
  showClose = false,
  topActions,
  bottomActions,
} = Astro.props;
---

<div
  class:list={[
    "alert-containter group overflow-hidden",
    type,
    hidden && "hidden",
  ]}
  id={id}
>
  <div
    class:list={[
      "box-border flex animate-riseIn justify-between rounded-lg border border-solid px-4 py-3",
      "group-[.primary]:border-brand-300 group-[.primary]:bg-brand-50",
      "group-[.secondary]:border-gray-200 group-[.secondary]:bg-white",
      "group-[.tertiary]:border-gray-300 group-[.tertiary]:bg-gray-50",
      "group-[.success]:border-success-300 group-[.success]:bg-success-50",
      "group-[.alert]:border-error-300 group-[.alert]:bg-error-50",
      "group-[.warning]:border-warning-300 group-[.warning]:bg-warning-50",
    ]}
  >
    <div class="flex items-start justify-start gap-1.5">
      {
        icon && (
          <i
            class:list={[
              "bi font-thin",
              "bi-" + icon,
              "group-[.primary]:text-brand-900",
              "group-[.secondary]:text-gray-900",
              "group-[.tertiary]:text-gray-900",
              "group-[.success]:text-success-900",
              "group-[.alert]:text-error-900",
              "group-[.warning]:text-warning-900",
            ]}
          />
        )
      }

      <div class="flex w-64 flex-col items-start justify-center">
        <div
          class:list={[
            "text-sm font-semibold leading-6",
            "group-[.primary]:text-brand-900",
            "group-[.secondary]:text-gray-900",
            "group-[.tertiary]:text-gray-900",
            "group-[.success]:text-success-900",
            "group-[.alert]:text-error-900",
            "group-[.warning]:text-warning-900",
          ]}
        >
          {title}
        </div>
        <div
          class="text-sm leading-5 tracking-0.02"
          class:list={[
            "group-[.primary]:text-brand-800",
            "group-[.secondary]:text-gray-800",
            "group-[.tertiary]:text-gray-800",
            "group-[.success]:text-success-800",
            "group-[.alert]:text-error-800",
            "group-[.warning]:text-warning-800",
          ]}
        >
          {description}
        </div>

        {
          bottomActions?.length && (
            <div
              class:list={[
                "mt-4 flex gap-4 text-sm leading-6",
                "group-[.primary]:text-brand-700",
                "group-[.secondary]:text-brand-700",
                "group-[.tertiary]:text-brand-700",
                "group-[.success]:text-success-700",
                "group-[.alert]:text-error-700",
                "group-[.warning]:text-warning-700",
              ]}
            >
              {bottomActions.map((action) => (
                <button class="flex" id={action.id}>
                  {action.title}
                </button>
              ))}
            </div>
          )
        }
      </div>
    </div>
    <div class="flex gap-4">
      {
        topActions?.length && (
          <div
            class="flex gap-4 text-sm leading-6"
            class:list={[
              "group-[.primary]:text-brand-700",
              "group-[.secondary]:text-brand-700",
              "group-[.tertiary]:text-brand-700",
              "group-[.success]:text-success-700",
              "group-[.alert]:text-error-700",
              "group-[.warning]:text-warning-700",
            ]}
          >
            {topActions.map((action) => (
              <button class="flex" id={action.id}>
                {action.title}
              </button>
            ))}
          </div>
        )
      }

      {
        showClose && (
          <button
            class:list={[
              "close flex h-6 w-6 items-center font-semibold",
              "group-[.primary]:text-brand-900",
              "group-[.secondary]:text-gray-900",
              "group-[.tertiary]:text-gray-900",
              "group-[.success]:text-success-900",
              "group-[.alert]:text-error-900",
              "group-[.warning]:text-warning-900",
            ]}
          >
            <i class="bi bi-x text-2xl" />
          </button>
        )
      }
    </div>
  </div>
</div>

<script>
  const alertsContainers = document.querySelectorAll(".alert-containter");
  alertsContainers.forEach((alertContainers) => {
    const closeButton = alertContainers.querySelector(".close");
    closeButton?.addEventListener("click", () => {
      alertContainers.classList.toggle("hidden");
    });
  });
</script>
