---
export interface Props {
  size?: Size;
  id?: string;
  type?:
    | "date"
    | "datetime-local"
    | "email"
    | "hidden"
    | "number"
    | "search"
    | "tel"
    | "text"
    | "time"
    | "url"
    | "week";
  label?: string;
  labelPosition?: LabelPosition;
  error?: string;
  helperText?: string;
  required?: boolean;
  leftIcon?: string;
  rightIcon?: string;
  className?: string;
  autocomplete?: string;
}

export type Size = "sm" | "md" | "lg";

export type LabelPosition = "inside" | "outside" | "edge";

const heightSizeStyles = {
  inside: {
    sm: "h-11",
    md: "h-12",
    lg: "h-14",
  },
  edge: {
    sm: "h-7",
    md: "h-9",
    lg: "h-11",
  },
  outside: {
    sm: "h-7",
    md: "h-9",
    lg: "h-11",
  },
};

const inputTextStyles: { [key: string]: string } = {
  sm: "text-xs tracking-normal",
  md: "text-sm tracking-normal",
  lg: "text-base tracking-wide",
};

const iconSizeStyles = {
  sm: "text-sm",
  md: "text-base",
  lg: "text-xl",
};

const iconPosition = {
  edge: { sm: "top-1", md: "top-1.5", lg: "top-2" },
  inside: { sm: "top-3.5", md: "top-3.5", lg: "top-3.5" },
  outside: { sm: "top-1", md: "top-1.5", lg: "top-2" },
};
const rightIconPosition = {
  edge: { sm: "top-1", md: "top-1.5", lg: "top-2" },
  inside: { sm: "top-3", md: "top-3", lg: "top-4" },
  outside: { sm: "top-1", md: "top-1.5", lg: "top-2" },
};
const rightIconMargins = { sm: "!mr-9", md: "!mr-9", lg: "!mr-10" };
const leftIconPadding = {
  sm: "pl-8",
  md: "pl-9",
  lg: "pl-10",
};
const rightIconPadding = {
  sm: "pr-8 group-[.error]:pr-14",
  md: "pr-9 group-[.error]:pr-15",
  lg: "pr-10 group-[.error]:pr-16",
};

const labelClassByPositionAndSize = {
  edge: {
    sm: "translate-x-3 translate-y-1.5 px-1 peer-focus:-translate-y-2 peer-focus:scale-95 peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-95",
    md: "peer-focus:-translate-y-2.25 peer-[:not(:placeholder-shown)]:-translate-y-2.25 translate-x-3 translate-y-2 px-1 peer-focus:scale-85 peer-[:not(:placeholder-shown)]:scale-85",
    lg: "translate-x-3 translate-y-3 px-1 peer-focus:-translate-y-2.5 peer-focus:scale-80 peer-[:not(:placeholder-shown)]:-translate-y-2.5 peer-[:not(:placeholder-shown)]:scale-80",
  },
  inside: {
    sm: "peer-focus:scale-95 peer-[:not(:placeholder-shown)]:scale-95",
    md: "",
    lg: "",
  },
  outside: {
    sm: "-top-5 left-1",
    md: "-top-6 left-1",
    lg: "-top-7 left-1",
  },
};
const labelClassByPositionAndSizeLeftIcon = {
  edge: {
    sm: "translate-x-7 peer-focus:-translate-x-9 peer-[:not(:placeholder-shown)]:-translate-x-9",
    md: "translate-x-7.5 peer-focus:-translate-x-9 peer-[:not(:placeholder-shown)]:-translate-x-9",
    lg: "translate-x-9 peer-focus:-translate-x-9 peer-[:not(:placeholder-shown)]:-translate-x-9",
  },
  inside: {
    sm: "left-8",
    md: "left-8",
    lg: "left-9",
  },
  outside: {
    sm: "",
    md: "",
    lg: "",
  },
};

const {
  size = "md",
  label,
  labelPosition = "edge",
  error,
  helperText = "",
  required = true,
  id,
  leftIcon,
  rightIcon,
  className,
  type = "text",
  autocomplete,
} = Astro.props;
---

<div
  class:list={[
    "Input-container group relative w-full",
    labelPosition === "outside" && "mt-2",
    error && "error",
    className,
  ]}
>
  <div>
    {
      leftIcon && (
        <i
          class:list={[
            "bi pointer-events-none absolute left-3 z-20 text-grey-500 group-[.error]:text-error-700",
            "bi-" + leftIcon,
            iconSizeStyles[size],
            iconPosition[labelPosition][size],
          ]}
        />
      )
    }
    <input
      id={id}
      required={required}
      type={type}
      placeholder={label}
      autocomplete={autocomplete}
      class:list={[
        "peer w-full text-grey-800 outline-0 transition-all placeholder:text-transparent",
        "relative z-10 flex items-center justify-between rounded-xl border border-grey-300 px-3 transition-all focus:border-brand-500 group-[.error]:border-error-700",
        labelPosition === "inside" && "pt-4",
        leftIcon && leftIconPadding[size],
        rightIcon && rightIconPadding[size],
        inputTextStyles[size],
        heightSizeStyles[labelPosition][size],
      ]}
    />
    {
      label && (
        <label
          for={id}
          class:list={[
            "pointer-events-none absolute z-10 origin-[0_0] font-sans text-grey-500 transition-transform peer-focus:text-grey-800",
            "group-[.error]:text-error-700 group-[.error]:peer-focus:text-error-700",
            labelPosition === "inside" &&
              "left-4 top-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2.5 peer-focus:scale-80 peer-focus:text-brand-500 peer-[:not(:placeholder-shown)]:-translate-y-2.5 peer-[:not(:placeholder-shown)]:scale-80 motion-reduce:transition-none",
            labelPosition === "edge" &&
              "left-0 top-0 transition-all duration-200 ease-linear peer-focus:translate-x-3 peer-focus:bg-white peer-focus:text-brand-500 peer-[:not(:placeholder-shown)]:translate-x-3 peer-[:not(:placeholder-shown)]:bg-white motion-reduce:transition-none",
            labelClassByPositionAndSize[labelPosition][size],
            leftIcon &&
              labelClassByPositionAndSizeLeftIcon[labelPosition][size],
            inputTextStyles[size],
          ]}
        >
          {label}
        </label>
      )
    }
    <i
      class:list={[
        "bi bi-exclamation-circle pointer-events-none absolute right-0 z-10 mr-4 text-error-700",
        "hidden group-[.error]:block",
        iconSizeStyles[size],
        rightIconPosition[labelPosition][size],
        rightIcon && rightIconMargins[size],
      ]}></i>
    {
      rightIcon && (
        <i
          class:list={[
            "bi pointer-events-none absolute right-0 z-10 mr-4 text-grey-500 group-[.error]:text-error-700",
            "bi-" + rightIcon,
            iconSizeStyles[size],
            rightIconPosition[labelPosition][size],
          ]}
        />
      )
    }
  </div>
  <div class="flex">
    <div id=`${id}_error` class="mt-1 text-xs text-error-700">{error}</div>
    <div id=`${id}_helper` class="mt-1 text-xs text-grey-500">{helperText}</div>
  </div>
</div>
