---
import Alert from "@components/Alert.astro";
---

<div class="flex flex-col gap-10 p-20">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-4">
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="info-circle"
        type="primary"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="info-circle"
        type="secondary"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="info-circle"
        type="tertiary"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="check-circle"
        type="success"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="exclamation-octagon"
        type="alert"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
      <Alert
        title="Title"
        description="Description"
        hidden={false}
        icon="exclamation-triangle"
        type="warning"
        showClose={true}
        topActions={[{id: "action1", title: "Action 1"}, {id: "action2", title: "Action 2"}]}
        bottomActions={[{id: "action3", title: "Action 1"}, {id: "action4", title: "Action 2"}]}
      />
    </div>
  </div>
</div>
